
h1 {
    font-size: 400%;
    margin-bottom: 0%;
    padding: 0%;
    color: #020255;
    text-align: center;
    margin-top: -0.5%;
    margin-bottom: 2%;
}


#title {
    padding:0;
    border: none;
    margin: 0%;
    margin-top: -0.5%;
    border-bottom: solid;
    border-width: 2px;
    border-color: #020255;
    background-image: url(sfondo.jpg);
}


div.image {
    width: 25%;
    margin: 0;
    border: none;
    position: relative;
}

div.info {
    position: absolute;
    left: 20%;
    top: 18%;
}

div.indice {
    position: absolute;
    left: 60%;
    top: 15%;
}

.spazioindice {
    margin-bottom: 6%;
}

p.forp {
    padding: 0;
    border: none;
    margin-top: 0%;
    margin-bottom: 5%;
    color: white;
}

a {
    font-weight: 700;
    font-size: medium;
    color: #020255;
    text-decoration: dashed;
}


a:visited {
	text-decoration: none; 
	color: #020255;
	font-weight: bold;
	}

a:hover {
	text-decoration: underline; 
	color:black;
	font-weight: bold;
}
    


div.research {
    border-bottom: solid;
    border-width: 2px;
    border-color: #020255;
    margin-top: -1.3%;
    background-color: #09b4b4;
}

div.insegnamenti {
    border-bottom: solid;
    border-width: 2px;
    border-color: #020255;
    margin-top: 0.5%;
    background-color: #0ad3d3;
}

div.tesitirocini {
    border-bottom: solid;
    border-width: 2px;
    border-color: #020255;
    margin-top: -1.3%;
    background-color: #95e1e1;
}

ul.square {
    list-style-type: square;
}


